@import 'assets/styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }
}