@import 'assets/styles/variables.scss';

.rc-table {
    :global(.ant-table-thead > tr > th),
    :global(.ant-table-tbody > tr > td) {
        background-color: $light-normal;
    }
}

.badge {
    &:global(.ant-badge) {
        min-width: 31px;
    }
    :global(.ant-badge-count) {
        box-shadow: none;
    }
}

.action {
    text-align: end;
}