@import "assets/styles/variables.scss";

.card {
    &:global(.ant-card) {
        border-radius: 1rem;
        background-color: $light-normal;
        color: black;
        padding: 0.1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    :global(.ant-card-body) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &_icon {
        font-size: 3rem;
        border-radius: 3rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}
